<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="text-center">
      Your Application
    </h2>

    <p class="text-center">
      <b style="font-size: 20px;">Name</b>
      <br>
      <span style="font-size: 16px;"><%= @applicant.name %></span>
    </p>

    <p class="text-center">
      <b style="font-size: 20px;">Email</b>
      <br>
      <span style="font-size: 16px;"><%= @applicant.email %></span>
    </p>

    <p class="text-center">
      <b style="font-size: 20px;">Phone Number</b>
      <br>
      <span style="font-size: 16px;"><%= @applicant.phone_number %></span>
    </p>

    <p class="text-center">
      <b style="font-size: 20px;">Zip Code</b>
      <br>
      <span style="font-size: 16px;"><%= @applicant.zip_code %></span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <%= link_to "Edit", edit_applicants_path, class: "btn btn-sm btn-info" %>
  </div>
</div>
